<%- include('header') %>

<div class="flex justify-end">
    <select id="namespaceSelector" class="bg-white border border-gray-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
        <% const namespaces = process.env.PINECONE_NAMESPACES ? process.env.PINECONE_NAMESPACES.split(',') : ['default', 'openapi', 'mysql', 'citipav']; %>
        <% namespaces.forEach(namespace => { %>
            <option value="<%= namespace %>"><%= namespace %></option>
        <% }); %>
    </select>
</div>

        <h1 class="text-3xl font-bold mb-2">Prompt-to-tools</h1>
        <h2 class="text-1xl font-bold">cURL, SQL, Table, Graph</h2>
        <p class="text-sm text-gray-500 mb-2">Run SQL and Graph generation is not available in the online version yet</p>
        <%- include('use-main-prompt') %>
        
        <%- include('sidebar') %>
        <toast-container></toast-container>
<%- include('footer') %>
